[Unit]
Description=Tvheadend
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a rpi-tvheadend
ExecStop=/usr/bin/docker stop -t 2 rpi-tvheadend

[Install]
WantedBy=local.target
